/* styles/components/buttons.css */

.button {
  padding: 10px 12px;
  border-radius: 16px;
  background: #ECECEC;
  cursor: pointer;
  font: inherit;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  color: #424242;
  border: none;
  transition: background 0.15s ease, color 0.15s ease;
}

.button--primary {
  background: #ECECEC;
  color: #424242;
}

.button--accent {
  background: var(--accent);
  color: #fff;
}

.button--primary:hover {
  background: #dedede;
}

.button--accent:hover {
  background: #0956d6;
}
